.wrapper {
  display: flex;
  flex-direction: column;
  height: 80vh;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
.wrapper a {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.6rem;
}
