.wrapper {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 50px;
}

.title {
  font-size: 4.5rem;
  font-weight: semibold;
  margin: 10px 0;
}

.description {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 2rem;
}

.mrp_price {
  text-decoration: line-through;
  color: gray;
}
.discounted_price {
  color: #1559b6;
  font-weight: bold;
}
.offer {
  background-color: #1559b6;
  color: white;
  padding: 2px 6px;
  font-weight: bold;
}

.stock {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 50%;
}

.cart,
.wishlist,
.cart_wishlist {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 1.2rem;
  font-weight: bold;
}
.cart,
.wishlist {
  gap: 10px;
  cursor: pointer;
}

.cart {
  background-color: black;
  color: white;
  padding: 5px;
}

.cartCount {
  background-color: white;
  color: black;
  display: flex;
  gap: 10px;
  padding: 5px;
}

.add_to_cart {
  padding: 0 30px;
}

.whatsapp {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 800;
  background-color: #25d366;
  color: white;
  padding: 10px 25px;
  box-shadow: inset 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
}

.share {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.2rem;
}

@media all and (max-width: 900px) {
  .wrapper {
    flex-direction: column;
    padding: 10px;
  }

  .details {
    width: 100%;
  }
}
